<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Product toevoegen</title>
  </head>
  <body>
    <div>
      <form action="/product" method="POST">
      {% for field in fields %}
      {{ field }}
      <input name="{{ field }}"/><br/>
      {% endfor %}
      <input type="submit" value="Verzenden">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(
      (documentReadyEvent) => $('form').on(
        'submit', (formSubmitEvent) => {
          formSubmitEvent.preventDefault()
          $.post('/product', $('form').serialize())
          $('form').trigger('reset')
        }
      )
    )
    </script>
  </body>
</html>
