<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Customhoesjes Voorraad</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      {% include 'top-bar.html' %}
      {% for product in products %}
      {% include 'product-card.html' %}
      {% endfor %}
      {% include 'bottom-bar.html' %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
    const page = {{ page }}
    const productsPerPage = {{ products_per_page }}
    const query = '{{ query.replace("\'", "\\\'") }}'
    </script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <!-- <script>
    async function onDeleteButtonClick(buttonClickEvent) {
      const id = $(this).data()['product']
      const name = $(this).parent().parent().children().first().children().first().text()
      if(confirm(
        `Weet je zeker dat je\r"${ name }"\r wilt verwijderen?`)
      ) {
        await $.ajax(
          {
            url: `/product/${ id }`,
            method: 'DELETE'
          }
        )
        location.reload()
      }
    }

    $(document).ready(
      (documentReadyEvent) => {
        $('#id-input').val(null)
        $('#id-form').submit(
          (formSubmitEvent) => {
            formSubmitEvent.preventDefault()
            const id = $('#id-input').val()
            window.location.href = `/product/${ id }/update`
          }
        )

        $('.product-delete-button').click(
          onDeleteButtonClick
        )
      }
    )
    </script> -->
  </body>
</html>
