<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Customhoesjes Voorraad</title>
  </head>
  <body>
    <form>
      <b>Pagina: </b>
      <input name="page" type="number" value="{{ page }}"/><br/>
      <b>Producten per pagina: </b>
      <input name="products-per-page" type="number" value="{{ products_per_page }}"/><br/>
      <input type="submit"/>
    </form>
    <div align="center">
      {% if page != 1 %}
      <form>
        <input hidden name="page" value="{{ page - 1 }}"/>
        <input hidden name="products-per-page" type="number" value="{{ products_per_page }}"/>
        <input type="submit" value="Vorige"/>
      </form>
      {% endif %}
      <form>
        <input hidden name="page" value="{{ page + 1 }}"/>
        <input hidden name="products-per-page" type="number" value="{{ products_per_page }}"/>
        <input type="submit" value="Volgende"/>
      </form>
    </div>
    <ul>
      {% for product in products %}
      <li>
        {% for field in fields %}
        <b>{{ field }}</b> {{ getattr(product, field) }}<br/>
        {% endfor %}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
